@charset "ISO-8859-1";

body {
	font-family: 'Poppins', sans-serif;
	background-color: #000 !important;
}

.mt-100 {
	margin-top: 100px;
}

.mb-100 {
	margin-bottom: 100px;
}

.login-btn, .register-btn {
	background-color: #C69749;
	border-color: #C69749;
}

.login-btn:hover, .register-btn:hover {
	background-color: #735F32;
	border-color: #735F32;
}

/* Navbar */
.fa-cart-shopping {
	font-size: 1.8rem;
}