@charset "ISO-8859-1";

body {
	font-family: 'Poppins', sans-serif;
	background-color: #000 !important;
}

.mt-100 {
	margin-top: 100px;
}

.mb-100 {
	margin-bottom: 100px;
}

.login-btn {
	background-color: #C69749;
	border-color: #C69749;
}

.login-btn:hover {
	background-color: #735F32;
	border-color: #735F32;
}

/* Navbar */
.fa-cart-shopping {
	font-size: 1.8rem;
}

/* Index */
.level-section {
	border: 5px #735F32 solid;
	border-radius: 2rem;
}

.level-card {
	position: relative;
	height: 12rem;
	width: 18rem;
	border-radius: 1.01rem;
	height: 12rem;
}

.level-card .brand-new {
	background-image: url("../images/level-card-1.jpg");
	background-size: contain;
	border-radius: inherit;
}

.level-card .beginner {
	background-image: url("../images/level-card-2.jpg");
	background-size: contain;
	border-radius: inherit;
}

.level-card .intermediate {
	background-image: url("../images/level-card-3.jpg");
	background-size: contain;
	border-radius: inherit;
}

.level-card .advanced {
	background-image: url("../images/level-card-4.jpg");
	background-size: contain;
	border-radius: inherit;
}

.level-card-body h5{
	position: relative;
	z-index: 10;
	transition: 0.5s;
}

.level-card-face {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	transition: 0.5s;
}

.level-card:hover .level-card-face {
	padding: 0;
	margin: 0;
	height: 0;
	font-size: 0;
}

.level-card:hover .level-card-body {
	color: #C69749;
}


/* Footer Section */
footer {
	background: #C69749;
}

.footer-text {
	color: #000000;
}

.footer-link {
	cursor: pointer;
	color: #000;
	text-decoration: none;
}

.footer-link:hover {
	color: #fff;
}

i:hover {
	cursor: pointer !important;
}

.copyright-text {
	font-size: 10px;
}

.subscribe-input {
	padding: 0;
	border: 0;
	box-shadow: none !important;
	background-color: transparent !important;
	border: 0;
}

.subscribe-input::placeholder {
	/* Most modern browsers support this now. */
	color: #282A3A !important;
	font-weight: bold;
}

.subscribe-btn {
	color: #735F32;
}